.footer {
  background-color: #345635;
  color: #E3EFD3;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  animation: fadeIn 1.5s ease-in-out;
}

.footer:hover {
  background-color: #6B8F71;
}

.footer p {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
