body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0D2B1D;
  color: #E3EFD3;
  transition: background-color 0.3s, color 0.3s;
  animation: fadeIn 1.5s ease-in-out;
  align-items: baseline;
  text-align: center;
}

a {
  color: #AEC3B0;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #6B8F71;
}

button {
  padding: 10px 20px;
  background-color: #345635;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #6B8F71;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
